@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
:root {
  --bg: #101419;
  --bgBlue:#C1CDE3;
  --bgRed:#D4DA15;
  --bgGen:#1c2024;
  --textColor:#B7D4FF;
  --textColor1:#03FBFC;
  --textColor2:#0066FF;
  --footerColor:#1c2024;
  --primaryA:#E5EFFF;
  --primaryB:#0045AD;
  --primaryC:#0066FF;
  --dark:#363A3E;
  --darkA:#34373B;
  --darkB:#313539;
  --darkC:#2D3035;
  --darkD:#2A2E32;
  --darkE:#26292E;
  --darkF:#23272B;
  --darkG:#212429;
  --darkH:#101419;
  --darkI:#1C2024;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: var(--textColor);
  font-family: 'Inter', sans-serif;
}

.bg {
  color: var(--textColor);
  background-color: var(--bg);
}
.bgBlue{
  background-color: var(--bgBlue);
}
.primaryB{
  background-color: var(--primaryB);
  color: white;
}
.primaryB:hover{
  background-color: var(--primaryC);
}
.primaryC{
  color: var(--primaryC);
}
.bgRed{
  background-color: var(--bgRed);
}
.bgGreen{
  background-color: var(--textColor1);
}
.bgCard{
  background-color:var(--bg);
  color:#B7D4FF;
  border: 1px solid var(--textColor1);
}
.textColor {
  color:var(--textColor);
}
.textColor:hover{
  color: white;
}
.textColor1 {
  color:var(--textColor1);
}
.textColor2 {
  color:var(--textColor2);
}
.fagBorder{
  border: 1px solid var(--textColor1);
}
/* ! navbar */
.logo{
  width:100px;
   height:45px;
}
.nav-link:hover {
  color:'white';
}
.product {
 background-color: var(--darkI);
}
.social-container {
  padding: 5px;
}
.social-buttons {
color: white;
}
/* !hero */
.herobg{
  background-image:url('./component/images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
}
/* !product card */
.card{
  height:270px
}
.card p{
  width: 100%;
  height: 110px;
}
/* ! roadmap */
.road {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid blue;
}
.road1 {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road1::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid blue;
}
.line {
  position: relative;
  height: 200px;
  width: 5px;
  text-align: center;
}

.circle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.circle1 {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
 
}

/* !feature */
.feature_num {
  border: 1px solid white;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  
}

/* !footer */
.footer{
  background-color: var(--darkI);
}
@media (max-width: 992px) {
  .logo{
    width:70px;
     height:45px;
  }
 
}
@media (max-width: 768px) {
  .logo{
    width:100px;
     height:45px;
  }
  .card{
    height: 240px;
  } 
  .card p{
    width: 100%;
    height: 85px;
  }
}
@media (max-width: 576px) {
  .card{
    height: 210px;
  } 
  .card p{
    width: 100%;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .card{
   height: 240px;
  } 
  .card p{
    width: 100%;
    height: 80px;
  }
}

