@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');
:root {
  --bg: #101419;
  --bgBlue:#C1CDE3;
  --bgRed:#D4DA15;
  --bgGen:#1c2024;
  --textColor:#B7D4FF;
  --textColor1:#03FBFC;
  --textColor2:#0066FF;
  --footerColor:#1c2024;
  --primaryA:#E5EFFF;
  --primaryB:#0045AD;
  --primaryC:#0066FF;
  --dark:#363A3E;
  --darkA:#34373B;
  --darkB:#313539;
  --darkC:#2D3035;
  --darkD:#2A2E32;
  --darkE:#26292E;
  --darkF:#23272B;
  --darkG:#212429;
  --darkH:#101419;
  --darkI:#1C2024;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: var(--bg);
  color: var(--textColor);
  font-family: 'Inter', sans-serif;
}

.bg {
  color: var(--textColor);
  background-color: var(--bg);
}
.bgBlue{
  background-color: var(--bgBlue);
}
.primaryB{
  background-color: var(--primaryB);
  color: white;
}
.primaryB:hover{
  background-color: var(--primaryC);
}
.primaryC{
  color: var(--primaryC);
}
.bgRed{
  background-color: var(--bgRed);
}
.bgGreen{
  background-color: var(--textColor1);
}
.bgCard{
  background-color:var(--bg);
  color:#B7D4FF;
  border: 1px solid var(--textColor1);
}
.textColor {
  color:var(--textColor);
}
.textColor:hover{
  color: white;
}
.textColor1 {
  color:var(--textColor1);
}
.textColor2 {
  color:var(--textColor2);
}
.fagBorder{
  border: 1px solid #9747FF

}
.fagQuest{
  background:red;
  }
.fs-16{
 font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}
.fs-14{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  
}
.fs-18{
  font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.fs-20{
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;   
}
.subtitle{
  font-family: Inter;
font-size: 36px;
font-weight: 800;
line-height: 44px;
letter-spacing: -0.02em;
}
/* !btn */
.btnPrimary{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  border-radius: 4px;
  padding: 10px 16px;
}
/* !herro */
.heroContent{
  font-family: Inter;
font-size: 52px;
font-weight: 800;
line-height: 56px;
letter-spacing: -0.02em;
text-align: center;

}
/* ! navbar */
.logo{
  width:100px;
   height:45px;
}
.nav-link{
  color:var(--textColor1);
}  
.nav-link:hover{
  color: #fff;
}
.nav-link:hover {
  color:white;
}
.dropdown-menu{
  background-color:#1C2024;
  width:350px;
  box-shadow:0px 4px 8px 0px #FFFFFF0D;
}
.dropdown-toggle::after {
  display: none !important; 
}
.productDropdown{
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 0 15px 20px;
  transition: all 300ms ease-in-out ;
}
.productDropdown:hover{
  color: #fff;
  background-color: #34373B ;
}
.coming{
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
color: #FFFFFF4D;

}


.product {
 background-color: var(--darkI);
}
.social-container {
  padding: 5px;
}
.social-buttons {
color: white;
width: 24;
height: 24px;

}
/* !hero */
.herobg{
  background-image:url('./component/images/Background.png');
  background-position: center;
  background-repeat: no-repeat;
}
.heroSubtitle{
  font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

}
/* ! accordion */
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* !product card */
.card{
  height:280px
}
.card p{
  width: 100%;
  height: 90px;
}

/* ! roadmap */
.tablet{
  display: block;
}
.mobile{
  display: none;
}
.road-map {
  background-color: green;
  height: 10px;
  position: relative;
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid burlywood;
  transform: translateX(-50%);
}
.road-map1 {
  background-color: green;
  height: 10px;
  position: relative;
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid burlywood;
  transform: translateX(-50%);
}
.road-map {
  background-color: green;
  height: 10px;
  position: relative;
}

.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid burlywood;
  transform: translateX(-50%);
}
.road0 {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road0::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid blue;
}
.road1 {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road1::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid blue;
}
.line {
  position: relative;
  height: 200px;
  width: 5px;
  text-align: center;
}

.circle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.circle1 {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
 
}
/* !road one */
.road {
  position: relative;
  height: 10px;
  background-color: var(--primaryB);
  border-radius: 8px 0px 0px 8px ;
}

.road::before {
  content: '';
  position: absolute;
  /* top: -20px; */
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--primaryB);
}
/* !road two */
.road11 {
  position: relative;
  height: 10px;
  padding: 5px;
  background-color:var(--bgBlue);

 
}

.road11::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--bgBlue);
 
}
/* !road three */
.road12 {
  position: relative;
  height: 10px;
  padding: 5px;
  border-radius: 0px 8px 8px 0px ;
  background-color: var(--textColor1);
}

.road12::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--textColor1);
}
.road1 {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road1::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid blue;
}
.road2 {
  position: relative;
  height: 10px;
  padding: 5px;
 
}

.road2::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid blue;
}
.line {
  position: relative;
  height: 200px;
  width: 5px;
  text-align: center;
}

.circle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;

}
.circle1 {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
 
}

/* !feature */
.feature_num {
  border: 1px solid white;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 360px;
  width: 40px;
  height: 40px;
  text-align: center;
}



/* !footer */
.footer{
  background-color: var(--darkI);
}
@media (max-width: 1200px) {
  .logo{
    width:90px;
     height:45px;
  }
  .card{
    height: 300px;
  } 
  .card p{
    width: 100%;
    height: 110px;
  }
 
}
@media (max-width: 992px) {
  .logo{
    width:90px;
     height:45px;
  }
  
 
}
@media (max-width: 768px) {
  .menu{
    height: 100vh;
  }
  .dropdown-menu{
    background-color:#1C2024;
    width:100%;
    box-shadow:0px 4px 8px 0px #FFFFFF0D;
  }
  .nav-link{
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    transition: all 300ms ease-in-out ;
  }
  .nav-link:hover{
    color: #fff;
    background-color: #34373B ;
  }
  .logo{
    width:120px;
    height:45px;
  }
  .fs-20{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
       
  }
  .fs-16{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;    
   }
  .card{
    height: 270px;
  } 
  .card p{
    width: 100%;
    height: 80px;
  }
  .heroContent{
    font-family: Inter;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: -0.02em;
text-align: center; 
}
.heroSubtitle{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  
}
.subtitle{
font-family: Inter;
font-size: 28px;
font-weight: 800;
line-height: 36px;
letter-spacing: -0.02em;
font-family: Inter;
font-size: 28px;
font-weight: 800;
line-height: 36px;
letter-spacing: -0.02em;
}
}

@media (max-width: 576px) {
  .card{
    height: 240px;
  } 
  .card p{
    width: 100%;
    height: 60px;
  }
  .heroContent{
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .subtitle{
    font-family: Inter;
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: -0.02em;
    }

}
@media (max-width: 480px) {
  .accordion {
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
  }
  
  .card{
   height: 270px;
  } 
  .card p{
    width: 100%;
    height: 90px;
  }

}
@media (max-width: 320px) {
  .tablet{
    display: none;
  }
  .mobile{
    display: block;
  }
  .heroContent{
    font-family: Inter;
font-size: 20px;
}
  .card{
   height: 290px;
  } 
  .card p{
    width: 100%;
    height: 110px;
  }
}




